{{ define "main" }}
<div class="container">
  <section class="jobs">
    <h1 class="text-center"><span class="highlight">{{ .Title }}</span></h1>
    <div class="content">
      {{ if not .Data.Pages }}
      <p class="lead text-light text-center">Aktuell haben wir leider keine konkreten Stellen zu besetzen.</p>
      <p class="text-light text-center">Doch es würde uns trotzdem freuen, dich kennenlernen! <br> <br>
        Haben wir also dein
        Interesse geweckt und du möchtest mehr über uns erfahren <br> sind wir für einen Besuch in unserem Office immer
        zu haben.
      </p>
      {{ else }}
      <p class="lead text-light text-center">Wir haben momentan folgende Stellen zu besetzen:</p>

      <div class="job-list">
        {{ range .Data.Pages }}
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">
              <a href="{{.RelPermalink}}">{{.Title}}</a><br />
              <small class="text-muted">{{ .Params.subtitle }}</small>
            </h3>
            <p class="card-text text-light">
              {{ .Summary }}
            </p>
            <a href="{{.RelPermalink}}">Infos</a>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}

      {{ .Content }}
    </div>
  </section>
</div>
{{ end }}