{{ define "title" }}{{ .Title }} ({{ .Params.subtitle}}) &middot; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<section class="container">
  <h1 class="text-center">
    <p class="highlight d-inline">{{ .Title }}</p>
  </h1>

  <h2 class="text-center text-light">
    {{ .Params.subtitle }}
  </h2>

  <img
  src="/img/var/zebbra_in_the_dark.jpg"
  class="figure-img img-fluid img-thumbnail rounded-circle"
  alt="zebbra, bring some light into the dark" />

  <div class="content">
    {{ .Content }}
  </div>
</section>
{{ end }}
