@import "../variables";

body.home {
  padding-top: 0;

  nav.navbar.navbar-inflate {
    // opacity: 0.5;
    // background-color: transparent;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    img { height: 15px; }
  }

  #customers {
    img {
      transition: all .25s ease-in-out;
      filter: grayscale(100%);
      opacity: 0.5;
      height: 70px;

      &:hover { filter: none; opacity: 1; }
    }
  }
}
