@import "../variables";

body.home {
  padding-top: 0;

  nav.navbar.navbar-inflate {
    opacity: 0.5;
    background-color: transparent;

    &:hover {
      opacity: 1;
    }

    img { height: 15px; }
  }

  .splash {
    margin-top: -50px;
  }
}
