<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <title>{{ block "title" . }}{{ .Title }} {{ if ne .Title .Site.Title }}&middot; {{ .Site.Title }}{{ end }}{{ end }}</title>
    <meta property="og:title" content="{{ block "title" . }}{{ end }}" />
    <meta name="twitter:title" content="{{ block "title" . }}{{ end }}" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44045593-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-44045593-1');
     </script>


    {{ partial "meta.html" . }}

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link href="{{ "css/main.css" | relURL }}" rel="stylesheet">
  </head>


  <body class="{{ .Kind }} {{ .Section }}" data-spy="scroll" data-target="#main-navbar">
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}

    <main id="main">
      {{- block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
      {{- end }}
    </main>

    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
    {{ block "scripts" . }}{{ partial "scripts.html" . }}{{ end }}
  </body>
</html>
