@import "../variables";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700');

h1 {
  margin-bottom: 2rem;
}

.text-inverse {
  color: $brand-inverse;
}

.text-light {
  color: $brand-light;
}

.highlight {
  background-color: $brand-primary;
  color: white;
  padding: 0.1rem 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.blockquote {
  font-family: $headings-font-family;
}
