@import "../variables";

h1 {
  margin-bottom: 2rem;
}

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.text-inverse {
  color: $brand-inverse;
}

.text-light {
  color: $brand-light;
}

.highlight {
  background-color: $brand-primary;
  color: white;
  padding: 0.5rem 1rem;
  // line-height: 1.5;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.blockquote {
  font-family: $headings-font-family;
}
