@import "./variables";
@import "./mixins";
@import "./bootstrap/custom";
@import "font-awesome/scss/font-awesome.scss";

// component styles
@import "./components/navbar";
@import "./components/section";
@import "./components/splash";
@import "./components/portrait";
@import "./components/quote";

// content styles
@import "./content/typography";
@import "./content/background";

// page specific styles
@import "./pages/home";
@import "./pages/jobs";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding-top: 120px;
  scroll-behavior: smooth;
  // height: 100%;
}

#main {
  // overflow: auto;
  padding-bottom: 100px;
}

footer {
  position: absolute;
  bottom: -10px;
  width: 100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}