@import "../variables";

nav.navbar {
  transition: all .25s ease-in-out;
  padding: 0.5rem 1rem;
  background-color: rgba($navbar-bg, $navbar-opacity);

  .navbar-brand img {
    height: 15px;
    margin-bottom: 3px;
  }

  &.navbar-inflate {
    padding: 1.5rem 1.5rem;
    background-color: $navbar-bg;

    .navbar-brand img {
      height: 20px;
    }
  }

  .navbar-nav.social {
    .nav-link span { display: none; }

    @include media-breakpoint-down(md) {
      .nav-link span { display: inline; }
    }
  }

  &:hover {
    background-color: $navbar-bg;
  }
}
