@import "../variables";
@import "../mixins";

@keyframes hint {
    0% {
        opacity: 0;
        transform: translateY(-12px)
    }
    50% {
        opacity: .5
    }
    to {
        opacity: 0;
        transform: translateY(12px)
    }
}

.splash {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh + 100px);
  text-align: center;
  color: $splash-color;
  padding-top: 200px;

  @include gradient-y(darken($splash-bg, 20), $splash-bg);

  // margin-top: -200px;
  // background: -webkit-linear-gradient(75deg, darken($splash-bg, 5) 20%, $splash-bg 50%);

  img {
    width: 150px;
  }

  .hint {
    margin: 60px auto;

    i {
      opacity: .5;
      animation: 2s ease-in-out 3s normal none infinite running hint;
    }
  }
}

#particles {
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}
