{{ $contact := index $.Site.Data.members (.Get 0) }}
<div class="quote p-3 mt-3 bg-faded text-muted">
  <div class="row">
    <div
      class="col-12 col-sm-8 col-md-9 col-lg-8 offset-lg-0 col-xl-6 offset-xl-1"
    >
      <blockquote class="blockquote blockquote-reverse mb-0">
        {{ .Inner | markdownify }}
        <div class="blockquote-footer">
          {{ $contact.name }}, {{ $contact.title }}
        </div>
      </blockquote>
    </div>
    <div
      class="col-8 offset-2 col-sm-4 offset-sm-0 col-md-3 col-lg-2 col-xl-2 pt-2"
    >
      {{ partial "members/portrait.html" $contact }}
    </div>
  </div>
</div>
