<div class="bg-faded bg-skew-left">
  <section id="about" class="container bg-skew-right">
    <h2 class="text-center mb-4"><span class="highlight">About</highlight></h2>

    <p class="lead text-center text-muted">
      zebbra AG, im Sommer 2013 von fünf enthusiastischen Engineers gegründet, ist ein nicht alltägliches Startup. Aus unterschiedlichen Richtungen zusammen gekommen, vereinen wir starkes Know-How von Unified Communications, über Software Development bis hin zum Design von Managed Services Lösungen unter einem Dach. Dies ermöglicht uns, Sie ganzheitlich bei komplexen und zukunftsweisenden Lösungen zu unterstützen.
    </p>

    <div class="row mt-4">
      <div class="col-lg-5 offset-lg-2">
        <img src="/img/team.png" class="img-fluid" />
      </div>
      <div class="col-lg-5">
        <div class="text-center h3 py-2 px-4">
          <p>
            <small>we are</small>
          </p>
          <p>
            AGILE <strong>THINKERS</strong><br/>
            AND <strong>DOERS</strong>
          </p>
        </span>
      </div>
    </div>

  </section>
</div>
