<section id="contact" class="bg-faded bg-skew-left">
  <div class="container bg-skew-right">
    <h2 class="text-center mb-4"><span class="highlight">Contact</span></h2>

    <div class="row">
      <div class="col-12 col-md-6 mb-3 text-center text-sm-left">
        <h4>Adresse</h4>
        <p>
          <address>
            zebbra AG<br />
            Wasserwerkgasse 7<br />
            Postfach 119<br />
            3000 Bern 13
          </address>
        </p>

        <p>
          <a href="mail:info@zebbra.ch">info@zebbra.ch</a><br/>
          <a href="tel:+41791234567">+41 79 123 45 67</a>
        </p>

        <h4 class="mt-3">Support</h4>
        <p>
          Für Supportanfragen verwenden Sie bitte an folgende Angaben:
        </p>

        <p>
          <a href="mail:support@zebbra.ch">support@zebbra.ch</a><br/>
          <a href="tel:+41791234567">+41 79 123 45 67</a>
        </p>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2723.7603031548742!2d7.454752015265677!3d46.94674994131903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478e39c5578ea12f%3A0xc470b3fcf74fe7f8!2szebbra+AG!5e0!3m2!1sen!2sch!4v1500485699096" class="embed-responsive-item" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
