<section id="services" class="pb-0">
  <div class="bg-muted text-inverse text-center bg-skew-left pt-3">
    <div class="container bg-skew-right">
      <h2><span class="highlight">Services</span></h2>

      <p class="lead">
        zebbra erbringt IT Dienstleistungen für namhafte Grossunternehmen aus dem Telekommunikations und Managed Service Umfeld wie auch für KMU mit anspruchsvollen Aufgaben. Mit viel Erfahrung und Begeisterung erarbeiten wir mit unseren Kunden bestmögliche herstellerunabhängige Lösungen.
      </p>

      <div class="row mt-4">
        <div class="col-12 col-md-4 mb-4">
          <p><i class="fa fa-lightbulb-o fa-5x text-warning"> </i></p>
          <h4>Think</h4>
          <p class="text-light">Wir helfen Ihnen Ihre Ideen und Problemstellungen zu analysieren, zeigen Ihnen nachhaltige und innovative Lösungswege auf und erstellen für Sie massgeschneiderte Konzepte. Der Grundstein jeder nachhaltigen Lösung ist ein solides Design – darin sind wir gut.</p>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <p><i class="fa fa-cogs fa-5x text-primary"> </i></p>
          <h4>Build</h4>
          <p class="text-light">Wir erwecken Ihr nächstes Projekt zum Leben! Das Engineering und die Umsetzung Ihrer Lösung ist unsere Kernkompetenz. We like to get our hands dirty.</p>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <p><i class="fa fa-comments-o fa-5x text-info"> </i></p>
          <h4>Support</h4>
          <p class="text-light">Wir helfen Ihnen bei der Optimierung und Weiterentwicklung Ihrer Infrastruktur und Dienste. Bei Problemen unterstützen wir Sie professionell und unkompliziert.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-faded text-inverse text-center bg-skew-left py-4">
    <div class="container bg-skew-right">
      <div class="row">
        {{- range $.Site.Data.homepage.services }}
        <div class="col-10 offset-1 col-md-4 offset-md-0 mt-3 px-3">
          <h4 class="text-muted h5">{{ .title }}</h4>
          <div class="row my-3">
            {{- range .logos }}
            <div class="col-4">
              <figure class="m-0 img-thumbnail rounded-circle" style="line-height: 1">
                <img src="/img/services/{{ . }}.svg" class="img-fluid" alt="{{ . | humanize }}" title="{{ . | humanize }}">
              </figure>
            </div>
            {{- end }}
          </div>

          <ul class="list-inline text-light">
            {{- range .keywords }}
            <li class="list-inline-item">{{ . }}</li>
            {{- end }}
          </ul>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
