<div class="splash text-center bg-skew-left">
  <div class="bg-skew-right">
    <div class="container">

      <img src="img/logo-v.svg" alt="zebbra" />

      <h4 class="display-5 mt-5 text-white">
        <!-- we <span class="highlight bg-white text-primary">make</span> things <span class="highlight bg-white text-primary">happen</span> -->
        we make things happen
      </h4>

      <div class="hint"><i class="fa fa-angle-double-down fa-2x"></i></div>
    </div>
  </div>
  <div id="particles"></div>
</div>
