<div class="bg-inverse text-white bg-skew-left">
  <section id="team" class="container text-center bg-skew-right">
    <h2 class="mb-4"><span class="highlight">Our Team</span></h2>

    <!-- <img src="/img/team.png" class="img-fluid w-50 my-3" /> -->

    <p class="lead text-light">
      Unser Team ist das, was zebbra einzigartig macht. Bestehend aus anerkannten Experten ihrer jeweiligen Fachrichtung setzen wir in interdisziplinärer Zusammenarbeit, anspruchsvolle Projekte und Visionen gewinnbringend für unsere Kunden um.
    </p>

    <div class="members row justify-content-md-center mt-4 mx-3">
      {{ range $.Site.Data.members }}
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        {{ partial "members/portrait.html" . }}
      </div>
      {{ end }}
    </div>
  </section>
</div>
